_CPack_Packages/
bin/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles
CPackConfig.cmake
CPackOptions.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Doxyfile-api
Doxyfile-dev
footer.html
hdc-*.deb
hdc-*.rpm
hdc-*.sh
hdc-*.tar.gz
hdc-*.tar.Z
install_manifest.txt
iot_build.h
iot_plugin_builtin.c
iot.make
lib/
Makefile
out/
preinst
postinst
prerm
postrm
test-case-count.py
*.swp
