_CPack_Packages/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles
CPackConfig.cmake
CPackOptions.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
deps/
Doxyfile-api
Doxyfile-dev
footer.html
hdc-*.deb
hdc-*.rpm
hdc-*.sh
hdc-*.tar.gz
hdc-*.tar.Z
install_manifest.txt
iot_build.h
iot-connect.schema.json.*
iot_plugin_builtin.c
iot.make
/Makefile
out/
preinst
postinst
prerm
postrm
test-case-count.py
*.swp
