#
# Copyright (C) 2017 Wind River Systems, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at:
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software  distributed
# under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
# OR CONDITIONS OF ANY KIND, either express or implied.
#
service iot-startup /system/bin/logwrapper /system/bin/config_hdc_android.sh
    class late_start
    user root
    group system
    oneshot

#service iot-telemetry /system/bin/logwrapper /system/bin/iot-app-simple-telemetry test
#    class late_start
#    user root
#    group system

#service iot-actions /system/bin/logwrapper /system/bin/iot-app-simple-actions
#    class late_start
#    user root
#    group system
#
