service iot-startup /system/bin/logwrapper /system/bin/config_hdc_android.sh
    class late_start
    user root
    group system
    oneshot

#service iot-telemetry /system/bin/logwrapper /system/bin/iot-app-simple-telemetry test
#    class late_start
#    user root
#    group system

#service iot-actions /system/bin/logwrapper /system/bin/iot-app-simple-actions
#    class late_start
#    user root
#    group system
#
